<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-keyboard icon-large"> </i> Education</h3>
      </div>
      <div class="panel-body panel-primary">
        <h5 class="res-head">General Assembly </h5><em>Web Development Immersive, May-August 2013</em>
          <p>Ruby, Rails, PostgreSQL, Rspec, HTML, CSS, JavaScript, jQuery, Git, Heroku<p>
        <h5 class="res-head">Independent Coursework</h5>
          <em>Code School:</em> Try Ruby, Ruby Bits, Try Git, Git Real CSS Cross-Country
          <em>Codecademy:</em> Web Fundamentals Track, Ruby Track-Half 1
          <em>Other:</em> Facebook Platform, Facebook API, Foursquare API, APIs, Social Media
        <h5 class="res-head">University of California, Berkeley </h5><em>Courses Taken, Project Management Certificate Program</em>
          <p>Project Planning and Control, Project Procurement Management, Quality Management, Project Management<p>
        <h5 class="res-head">University of California, Santa Barbara </h5><em>BA, Women's Studies, 2006</em></br>
        <em>Graphic Design and Visual Comm. Certificate Program, 2008</em>
        <p>Design Fundamentals, Color Methodologies, Typography, HTML/CSS, Publication Design<p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-briefcase icon-large"> </i> Experience</h3>
      </div>
      <div class="panel-body panel-primary">
        <h5 class="res-head">Clientologist - Account Manager at Inigral, Inc.</h5>
        <em>December 2011 - January 2013</em>
          <ul>
           <li>Consultant at Inigral, Inc. – Was asked to come back on as a Consultant after my resignation. Worked with Product Management team to document processes, define product requirements, and create accompanying documentation for Administrator and Internal facing features.</li>
           <li>Managed the implementation of new Facebook applications from contract close to post-launch support including technical setup using Facebook Developers and internal tools
           <li>Created Stories, Defects, and Support Requests for engineering using Mingle</li>
           <li>Performed quarterly data analytics for Top Performers and annual data reports for our clients</li>
           <li>Created e-mail campaigns using HTML/CSS and Pardot to strengthen client relations
           <li>Developed How To Guides to encourage Best Practices and ensure the success of each client’s project</li>
           <li>Streamlined procedures by maintaining documentation and utilizing web-based efficiency tools</li>
          </ul>
           <h5 class="res-head">Project Manager, PSG-Americas Consumer Segment Marketing, Contract through Marisan Group at Hewlett-Packard</h5>
           <em>July 2009 - December 2011</em>
           <ul>
            <li>Collaborated with global team across the company (marketing, operations, supply chain, channel) and externally with vendors and Mexico/China factories</li>
            <li>Created Marketing Cycle Desktop Nomenclature Guide which provides all customer facing, product benefits messaging for desktop computer speeds and feeds used on packaging and datasheets
            <li>Managed the process and creation of the desktop, All-in-One, and monitor merchandising and packaging labels from planning through production</li>
            <li>Led the implementation of artwork process changes based on both qualitative and quantitative data, reducing rework and lowering cost</li>
            <li>Lowered monthly vendor fees by 7k per quarter by changing frequencies of QA and improving reporting</li>
          </ul>
             <h5 class="res-head">Microsoft Windows Guru at Mosaic Sales Solutions</h5>
             <em>October 2008 - June 2009  </em>
             <ul>
              <li>Windows Brand Ambassador –responsible for driving sales and executing marketing of Windows, Office, and other Microsoft products</li>
              <li>Demonstrated software and promoted sales of PC hardware, software, and accessories
              <li>Delivered product training and workshops to retail managers and store associates</li>
              <li>Created and ran Facebook account to create buzz and create a community for customers</li>
            <ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-female icon-large"> </i>  Summary</h3>
      </div>
      <div class="panel-body panel-primary">
        <p>As a little girl, all I wanted to be was a software engineer. I started college at UC Santa Barbara with this purpose but hit a rough time in my life and parted ways with that dream.  Ten years later after being on the business side of tech, participating in hack days, and spending most of my hours in the engineering cave, my heart and brain never stopped longing for that dream. In February 2013, I quit my job and fully committed to making that childhood dream happen. I started General Assembly's Web Development Immersive program and have never questioned that this is what I should be doing. I absolutely love tackling the challenges that coding itself entails but am even more excited to use the skills I've developed to tackle product development.<p>
          <p class="res-head">I am seeking a Full-Stack or Back-End Developer role with a team I can be mentored by and grow with at a company whose product and mission I will be passionate about.<p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-group icon-large"> </i>Organizations</h3>
      </div>
      <div class="panel-body panel-primary">
        <h5 class="res-head"> Alpha Epsilon Phi National Sorority</h5>
        <ul>
          <li>Advisor at Stanford University: Supervise and mentor collegiate sorority group and liaison between chapter, campus, and National Association</li>
          <li>Alumnae Coordinator San Francisco/Peninsula: Plan events and coordinate fundraising for local chapters</li>
          <li>(Former) VP New Member Education</li>
        </ul>
        <h5 class="res-head">Spinsters of San Francisco</h5>
        <ul>
          <li>Development Committee Co-Chair: Chaired seven person committee in charge of procuring physical and monetary donations for a social and charity organization</li>
          <li>Patrons Reception Committee: Planned and implemented annual charity event with $35k budget attended by 400 guests</li>
        </ul>
      </div>
    </div>
  </div>
</div